.btn {
	font-size: 24px;
    font-weight: bold;
    color: white;
    
    border-radius: 7px;
	border: 2px solid transparent;
    
	outline: none;
    cursor: pointer;
    
    width: 200px;
    height: 55px;

    background: #2196f3;

    transition: all .3s ease-in-out;
}

.btn:hover {
    background: transparent;
    border-color: #2196f3;
}

.disabled {
    color: rgba(255, 255, 255, 0.808);
    
	cursor: not-allowed;
    pointer-events: none;
    
	background: grey;
}