* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Wrap {
    position: fixed;

    height: 100%;
    width: 100vw;

    background: rgb(30, 32, 39);
    z-index: -1;
}

.Layout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media all and (max-width: 930px) {
}