.Button {
    width: 200px;
    
    border: 2px solid transparent;
    border-radius: 15px;
    
    outline: 0;
    padding: 30px 20px;
    
    font-size: 28px;
    font-weight: bold;
    color: white;
    
    background: #2196f3;
    transition: all .3s ease-in-out;
}

.Button:hover {
    background: transparent;
    border-color: #2196f3;
    cursor: pointer;
}